hypr/.config/hypr/hyprpaper.conf
hypr/.config/hypr/hyprlock.conf
fish/.config/fish/fish_history
fish/.config/fish/fish_variables
fish/.config/fish/conf.d/secrets.fish
rofi/.config/rofi/launcher.rasi
wlogout/.config/wlogout/style.css
*secrets*
*password*
*.key
*.pem
.env
node_modules/
