window {
    background-color: #19120c;
    border: 1px solid #51443a;
    border-radius: 8px;
}

#input {
    background-color: #19120c;
    color: #efe0d5;
    border: 1px solid #51443a;
    border-radius: 4px;
    padding: 4px 8px;
}

#outer-box {
    padding: 8px;
}

#entry {
    padding: 4px 8px;
    color: #efe0d5;
    border-radius: 4px;
}

#entry:selected {
    background-color: #51443a;
    color: #fdb876;
}
