* {
    background-image: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

window {
    background-image: image(url("$HOME/photos/wallpapers/1-osaka-jade-bg.jpg"));
    background-size: cover;
    background-position: center;
}

button {
    background-color: {{colors.background.default.hex}};
    border: 2px solid {{colors.primary.default.hex}};
    border-radius: 12px;
    color: {{colors.primary.default.hex}};
    margin: 8px;
    padding: 32px 16px;
    transition: background 0.2s ease, color 0.2s ease;
}

button:hover {
    background-color: {{colors.primary.default.hex}};
    color: {{colors.background.default.hex}};
    border-color: {{colors.primary.default.hex}};
}

button:focus {
    background-color: {{colors.primary.default.hex}};
    color: {{colors.background.default.hex}};
}
